DISCORD_BOT_TOKEN=ISI_TOKEN_BOT
DISCORD_CLIENT_ID=ISI_APPLICATION_ID
DISCORD_GUILD_ID=ISI_SERVER_ID

SUPABASE_URL=https://PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ISI_SERVICE_ROLE_KEY_SUPABASE
